body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #7581a1;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

h1 {
    font-size: 80px;
    font-weight: 600;
    margin-bottom: 65px;
    letter-spacing: -2.5px;
    line-height: 1.1;
    color: #192b59;
    /*text-transform: uppercase;*/
}

a {
    text-decoration: none;
}

.tittle-h2 {
    color: #192b59;
    font-size: 50px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1.5px;
}

.tittle-h2 > span {
    display: block;
    text-transform: uppercase;
    color: #1085e4;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 3px;
    margin-bottom: 14px;
}


.page-stat .tittle-h2, .page-screen .tittle-h2 {
    text-align: center;
    margin: 0 auto;
}

.page-stat .tittle-h2 {
    max-width: 500px;
    letter-spacing: 1.1px;
}

.page-screen .tittle-h2 {
    font-size: 40px;
}

.page-screen .tittle-h2 span {
    font-size: 18px;
}

.wrap {
    max-width: 1110px;
    margin: 0 auto;
}

.logo {
    background-image: url("../img/logo.png");
    display: block;
    width: 171px;
    height: 49px;
}

.nav {
    display: flex;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    list-style: none;
    padding: 0;
}

.nav > li {
    padding: 0 20px;
}

.nav-item {
    color: #6e7ea9;
    letter-spacing: 2px;
}

.btn-primary {
    background-color: #1085e4;
    color: #fff;
    letter-spacing: 2.5px;
    font-size: 12px;
    font-weight: 700;
    border: 1px solid #1085e4;
    padding: 20px 40px;
    border-radius: 30px;
    text-transform: uppercase;
    transition: 0.3s;
}

.btn-primary:hover {
    color: #1085e4;
    background-color: transparent;
}

.btn-secondary {
    background-color: #cbdbe8;
    color: #7e8bae;
    letter-spacing: 2.5px;
    font-size: 12px;
    font-weight: 700;
    border: 1px solid #cbdbe8;
    padding: 20px 40px;
    border-radius: 30px;
    text-transform: uppercase;
}

.btn-secondary:hover {
    background-color: #fff;
}

.btn-free {
    font-weight: 400;
    padding: 21px 56px;
    letter-spacing: 1.7px;
}

.btn-info {
    background-color: transparent;
    color: #8085b1;
    letter-spacing: 2.5px;
    border: 1px solid #dce1e5;
    font-size: 12px;
    font-weight: 700;
    padding: 20px 40px;
    border-radius: 30px;
    text-transform: uppercase;
}

.btn-info:hover {
    color: #fff;
    background-color: #94b4cc;
    border: 1px solid #94b4cc;
}

.btn-group a + a {
    margin-left: 15px;
}

.screen {
    margin-top: 70px;
    margin-bottom: -8px;
}

.grid {
    display: grid;
    grid-template-areas: "a b c"
                         "d b c"
                         "d f g"
                         "e f g"
                         "e h h";
    max-width: 1110px;
    grid-gap: 35px;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 80px auto;
}

.grid h2 {
    font-size: 40px;
    color: #192b59;
    margin: 0 0 50px 0;
    font-weight: 700;
}

.grid span {
    font-size: 14px;
    color: #1085e4;
    letter-spacing: 1.5px;
    display: block;
}

.grid-text span {
    font-size: 16px;
    font-weight: 700;
    color: #192b59;
    display: inline;
}

.grid-text p:last-child {
    font-size: 14px;
    color: #1085e4;
}

.grid-item h3 {
    font-size: 20px;
    font-weight: 600;
    color: #192b59;
    margin-bottom: 18px;
}

.grid-item a {
    font-size: 14px;
    color: #1085e4;
    font-weight: 600;
}

.grid-tittle {
    grid-area: a;
}

.grid-item-1 {
    grid-area: b;
}

.grid-item-2 {
    grid-area: c;
}

.grid-item-3 {
    grid-area: d;
}

.grid-item-4 {
    grid-area: e;
}

.grid-item-5 {
    grid-area: f;
}

.grid-item-6 {
    grid-area: g;
}

.grid-text {
    grid-area: h;
}

.grid-item {
    text-align: center;
    box-shadow: 0px 5px 5px 2px #dbd7d7;
    /*margin: 40px 31px 20px 0;*/
    padding: 70px 25px;
}

.grid-icon {
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto 36px;
}

.grid-icon-1 {
    background-image: url("../img/icon-3.png");
    width: 74px;
    height: 80px;
}

.grid-icon-2 {
    background-image: url("../img/icon-6.png");
    width: 89px;
    height: 85px;
}

.grid-icon-3 {
    background-image: url("../img/icon-1.png");
    width: 80px;
    height: 82px;
}

.grid-icon-4 {
    background-image: url("../img/icon-2.png");
    width: 103px;
    height: 94px;
}

.grid-icon-5 {
    background-image: url("../img/icon-4.png");
    width: 85px;
    height: 90px;
}

.grid-icon-6 {
    background-image: url("../img/icon-5.png");
    width: 101px;
    height: 87px;
}

.list-stat {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-top: 76px;

}

.list-stat > li {
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2.7px;
    font-weight: 700;
    color: #1085e4;
}

.list-stat > li > span {
    display: block;
    letter-spacing: 0;
    font-weight: 700;
    font-size: 60px;
    color: #bacbdc;
    margin-bottom: 23px;
}

.group-companies {
    display: flex;
    justify-content: center;
}

.box-price {
    display: flex;
    justify-content: space-between;
}

.box-price-item {
    padding: 90px 0 96px 0;
    position: relative;
    flex-basis: 32%;
    background-color: #f5faff;
}

.box-price-item h3 {
    font-size: 70px;
    letter-spacing: -1px;
    margin-top: 0;
    margin-bottom: 15px;
    color: #000958;
}

.box-price-item h3 span {
    font-size: 20px;
    color: #94b4cc;
    text-transform: uppercase;
}


.box-price-item:first-child h3 {
    margin-bottom: 15px;
}

.box-price-item:first-child span:last-child {
    margin-top: 50px;
}

.box-price-item h3 span:first-child {
    color: #bbb;
}

.box-price-item h3 span:last-child {
    color: #1085e4;
    font-size: 16px;
    margin-top: 30px;
    text-transform: uppercase;
    display: block;
}

.box-price-item.active {
    background-color: #192b59;
    color: #fff;
}

.box-price-item.active h3 {

    color: #fff;
}

.box-price-item ul {
    list-style: none;
    padding-left: 0;
}

.box-list {
    margin-bottom: 70px;
}

.box-price-item ul > li {
    margin-bottom: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}

.box-price-item::after {
    content: "";
    width: 58px;
    height: 100%;
    background-image: url("../img/triangle.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
}

.box-price-item.active::after {
    display: none;
}

.box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 53px;
    margin-bottom: 305px;
}

.screen-img {
    display: block;
    background-image: url("../img/header-screen.png");
    background-repeat: no-repeat;
    height: 740px;
    width: 895px;
    position: absolute;
    right: 0;
    top: 180px;
}


.box-subscribe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.box-subscribe p {
    font-size: 18px;
    color: #dfe8ff;
    margin-bottom: 38px;
}

.box-subscribe h2 {
    font-size: 50px;
    font-weight: 600;
    letter-spacing: -1.5px;
    color: #fff;
}

.box-subscribe h2 > span {
    display: block;
    font-size: 14px;
    font-weight: 700;
    color: #00bffe;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-top: 20px;
    margin-bottom: 30px;
}

.box-subscribe__input {
    display: flex;
    justify-content: space-between;
    padding: 7px;
    border: 2px solid #3f5cb1;
    border-radius: 50px;
}

.box-subscribe__input input {
    background-color: transparent;
    color: #fff;
    border: none;
    padding-left: 10px;
}

.box-subscribe__input input::placeholder {
    color: #fff;
}

.software-icon {
    display: block;
    background-image: url("../img/icon-tool.png");
    background-repeat: no-repeat;
    width: 88px;
    height: 88px;
    background-position: -13px;
}

.page-software .tittle-h2 {
    max-width: 766px;
    margin-top: 12px;
    margin-bottom: 26px;
}

.page-software-list {
    margin-top: 31px;
    height: 320px;
    overflow: hidden;
    overflow-y: scroll;
}

.page-software-list::-webkit-scrollbar {
    width: 5px;
}

.page-software-list::-webkit-scrollbar-track {
    background-color: #1085e4;
}

.page-software-list::-webkit-scrollbar-track-piece {
    background-color: #f3f6ff;
}

.page-software-list::-webkit-scrollbar-thumb {
    height: 1px;
    background-color: #1085e4;
    border-radius: 30px;
}

.page-software-list dt {
    font-weight: 700;
    font-size: 16px;
    color: #5a6789;
    margin-bottom: 10px;
}

.page-software-list dd {
    margin-left: 0;
    font-size: 14px;
    line-height: 1.8;
    margin-bottom: 50px;
}
.page-app-content{
    width: 55%;
}
.page-app-text {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.5px;
    color: #c4d2dd;
}

.page-app-list {
    display: flex;
    padding: 0;
    list-style: none;
}
.page-app-list>li>a{
    display: block;
    background-repeat: no-repeat;
    width: 189px;
    height: 81px;
}
.page-app-list>li>a.page-app-android{
    background-image: url("../img/google.png");
}
.page-app-list>li>a.page-app-ios{
    background-position-x: -13px;
    background-image: url("../img/apple.png");

}
.analytics-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page-analytics p{
    margin-bottom: 50px;
}
.analytics-flex>div{
    flex-basis: 53%;
}

/* PAGES */
.page-header {
    background-image: url("../img/header-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 330px;
    position: relative;
}

.page-stat, .page-screen {
    background-color: #edf6ff;
}

.page-stat {
    padding: 115px 0 95px 0;
    position: relative;
}

.page-stat::after {
    content: "";
    background-image: url("../img/fig-1.svg");
    position: absolute;
    width: 443px;
    background-repeat: no-repeat;
    height: 100%;
    top: 134px;
    left: 0;
}

.page-screen, .page-plane {
    text-align: center;
}

.page-screen {
    padding: 115px 0 0 0;
}

.page-companies {
    background-image: url("../img/aside-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 105px 0 95px 0;
}

.page-subscribe {
    background: rgb(10, 32, 144);
    background: linear-gradient(150deg, rgba(10, 32, 144, 1) 0%, rgba(35, 119, 205, 1) 100%);
}

.page-software {
    background-image: url("../img/background-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 110px 0 155px 0;
    position: relative;
    z-index: 0;
}

.page-software::after {
    content: "";
    background-image: url("../img/notebook.png");
    position: absolute;
    top: 105px;
    left: 0;
    width: 931px;
    height: 100%;
    background-repeat: no-repeat;
    z-index: -1;
}

.page-software-flex {
    display: flex;
    justify-content: flex-end;
}

.page-software-flex > div {
    flex-basis: 54%;
}

.page-app {
    padding: 77px 0 85px 0;
    background-image: url("../img/background-3.png");
    background-repeat: no-repeat;
}
.page-analytics{
    padding: 150px 0 130px 0;
    background-image: url("../img/background-4.png");
    background-repeat: no-repeat;
    background-size: cover;
}